---
http_interactions:
- request:
    method: post
    uri: https://ltctt.ahcancal.org/api/upload-coreq
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarybB1bo3Ft7Q7R59Bs\r\nContent-Disposition: form-data;
        name=\"file\"; filename=\"Sample_CoreQ_LS_upload.csv\"\r\nContent-Type: text/csv\r\n\r\nMedicare
        Provider Number,Center Name,Year (Satisfaction Survey Date),Month (Satisfaction
        Survey Date),Number of Respondents (Resident Survey Response),Response Rate
        (Resident Survey Response),% of Residents Satisfied (Resident Survey Response),Number
        of Respondents (Family Survey Response),Response Rate (Family Survey Response),%
        of Families Satisfied (Family Survey Response)\r\n105140,Accentia,2015,1,148,0.815,0.189,17,0.115,0.447\r\n\r\n------RubyFormBoundarybB1bo3Ft7Q7R59Bs\r\nContent-Disposition:
        form-data; name=\"file_upload_type\"\r\n\r\nCOREQ_LS\r\n------RubyFormBoundarybB1bo3Ft7Q7R59Bs--\r\n"
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarybB1bo3Ft7Q7R59Bs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fileuploadfilename:
      - Sample_CoreQ_LS_upload.csv
      Fileuploadrequestid:
      - APFb5v1L3TcYi8UFM82lQg==
      Responsecode:
      - PROCESSING
      Responsedescription:
      - File upload is processing. Check the status via  File Upload Status Check
        API call.
    body:
      encoding: UTF-8
      string: '{"fileUploadRequestId":"APFb5v1L3TcYi8UFM82lQg==","fileName":"Sample_CoreQ_LS_upload.csv","responseCode":"PROCESSING","responseDescription":"File
        upload is processing. Check the status via  File Upload Status Check API call."}'
  recorded_at: Thu, 13 Jun 2019 14:33:35 GMT
recorded_with: VCR 4.0.0
