---
http_interactions:
- request:
    method: get
    uri: https://ltctt.ahcancal.org/api/status?FileUploadRequestId=UbCtGLsSnVgo0qpDB_v-sQ==
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=UbCtGLsSnVgo0qpDB_v-sQ==_error.csv
      Content-Type:
      - application/csv
      Fileuploadfilename:
      - Sample_CoreQ_SS_upload.csv
      Fileuploadrequestid:
      - UbCtGLsSnVgo0qpDB_v-sQ==
      Responsecode:
      - ERROR
      Responsedescription:
      - File upload failed. Error details are available in the response.
    body:
      encoding: UTF-8
      string: |
        "Line Number","Message Type","Message"
        "1","ERROR","Line Number 1: Data cannot be overwritten for this row since it has already been loaded by another vendor.  Please contact help@ltctrendtracker.com for further assistance."
  recorded_at: Thu, 13 Jun 2019 14:16:02 GMT
- request:
    method: get
    uri: https://ltctt.ahcancal.org/api/status?FileUploadRequestId=d-CMXVFvnsnz0sS2S0r_hg==
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fileuploadfilename:
      - Sample_CoreQ_LS_upload.csv
      Fileuploadrequestid:
      - d-CMXVFvnsnz0sS2S0r_hg==
      Responsecode:
      - SUCCESS
      Responsedescription:
      - File uploaded successfully.
    body:
      encoding: UTF-8
      string: '{"fileUploadRequestId":"d-CMXVFvnsnz0sS2S0r_hg==","fileName":"Sample_CoreQ_LS_upload.csv","responseCode":"SUCCESS","responseDescription":"File
        uploaded successfully."}'
  recorded_at: Thu, 13 Jun 2019 14:48:37 GMT
recorded_with: VCR 4.0.0
