---
http_interactions:
- request:
    method: post
    uri: https://ltctt.ahcancal.org/api/upload_coreq
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarysfktlxIJAoAGPXnH\r\nContent-Disposition: form-data;
        name=\"file_upload_type\"\r\n\r\nCOREQ_SS\r\n------RubyFormBoundarysfktlxIJAoAGPXnH\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"Sample_CoreQ_SS_upload.csv\"\r\nContent-Type:
        text/csv\r\n\r\nMedicare Provider Number,Center Name,Year (Satisfaction Survey
        Date),Month (Satisfaction Survey Date),Number of Respondents (Patient Survey
        Response),Response Rate (Patient Survey Response),% of Patients Satisfied
        (Patient Survey Response)\r\n255092,Boyington,2015,6,100,0.5,0.8\r\n\r\n------RubyFormBoundarysfktlxIJAoAGPXnH--\r\n"
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarysfktlxIJAoAGPXnH
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.77 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 404 - /api/upload_coreq</h1><HR size="1" noshade="noshade"><p><b>type</b>
        Status report</p><p><b>message</b> <u>/api/upload_coreq</u></p><p><b>description</b>
        <u>The requested resource is not available.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/7.0.77</h3></body></html>'
  recorded_at: Thu, 13 Jun 2019 00:08:00 GMT
[...]
- request:
    method: post
    uri: https://ltctt.ahcancal.org/api/upload-coreq
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryilLmtM18aLpZX5Ig\r\nContent-Disposition: form-data;
        name=\"file\"; filename=\"Sample_CoreQ_SS_upload.csv\"\r\nContent-Type: text/csv\r\n\r\nMedicare
        Provider Number,Center Name,Year (Satisfaction Survey Date),Month (Satisfaction
        Survey Date),Number of Respondents (Patient Survey Response),Response Rate
        (Patient Survey Response),% of Patients Satisfied (Patient Survey Response)\r\n255092,Boyington,2015,6,100,0.5,0.8\r\n\r\n------RubyFormBoundaryilLmtM18aLpZX5Ig\r\nContent-Disposition:
        form-data; name=\"file_upload_type\"\r\n\r\nCOREQ_SS\r\n------RubyFormBoundaryilLmtM18aLpZX5Ig--\r\n"
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryilLmtM18aLpZX5Ig
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fileuploadfilename:
      - Sample_CoreQ_SS_upload.csv
      Fileuploadrequestid:
      - kp_mnBRb-7POa-_mH02BGA==
      Responsecode:
      - PROCESSING
      Responsedescription:
      - File upload is processing. Check the status via  File Upload Status Check
        API call.
    body:
      encoding: UTF-8
      string: '{"fileUploadRequestId":"kp_mnBRb-7POa-_mH02BGA==","fileName":"Sample_CoreQ_SS_upload.csv","responseCode":"PROCESSING","responseDescription":"File
        upload is processing. Check the status via  File Upload Status Check API call."}'
  recorded_at: Thu, 13 Jun 2019 00:20:38 GMT
recorded_with: VCR 4.0.0
