---
http_interactions:
- request:
    method: get
    uri: https://ltctt.ahcancal.org/api/status?FileUploadRequestId=INVALID_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic FAKE_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Responsecode:
      - ERROR
      Responsedescription:
      - Invalid File Upload Request ID.
    body:
      encoding: UTF-8
      string: '{"fileUploadRequestId":null,"fileName":null,"responseCode":"ERROR","responseDescription":"Invalid
        File Upload Request ID."}'
  recorded_at: Thu, 13 Jun 2019 14:26:16 GMT
recorded_with: VCR 4.0.0
